
<footer class=" mt-auto footer bg-dark py-3  ">
    <!-- <footer class="mt-auto"> -->
    <div class="container">
        <span style="color: white;">
            &copy; YelpCamp 2023
        </span>
    </div>
</footer>


https://soruce.unsplash.com/collection/190727/1600x900