<!doctype html>
<html>
    <head><meta charset ='utf-8'> 
        <title>
            Yelp Camp
        </title>
    </head>
    <body>
        <h1>Hello from yelp camp</h1>
    </body>
</html>

Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, molestiae necessitatibus. Magni hic voluptas iste voluptates? Accusantium veritatis debitis cumque expedita provident reiciendis, vel dolores neque esse labore quia ex!